

.body{
  background-color: #273c75;
}
img{
  width: 50%;
  border-radius: 50%;
}
.left{
  color: white;
  background-color: #130f40;

}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: yellow;
  transform: scale(1.1);
}
.contact{
  display: flex;
}
.right{
  background-color: white;
}
.right-about{
  padding: 20px;
  
}
span{
  margin: 0px 30px;
}
@media (max-width: 550px){
  
  .fs-2{
    font-size: 15px!important;
  }
  span{
    font-size: ;
  }
}

@media (max-width: 350px){
  
  .fs-2{
    font-size: 10px!important;
  }
  span{
    font-size: 8px!important;
    margin: 0px 0px!important;
  }
}
@media (max-width: 523px){
  
  span{
    font-size: 12px!important;
    margin: 0px 10px;
  }
}